<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MetaScope</string>
	<key>CFBundleDisplayName</key>
	<string>MetaScope</string>
	<key>CFBundleIdentifier</key>
	<string>com.metascope.app</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>MetaScope</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>CFBundleIconFile</key>
	<string>MetaScope</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GFF File</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gff</string>
				<string>gff3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
